$my_font: 'Rock Salt';

.page{
	background-color: black;
	color: white;	

	.lead{
		

		.header{
			margin-top: 100px;
			margin-bottom: 400px;

			.profile-pic{
				text-align: center;

				img{
					width: 350px;
				}
			}

			.attributes{

				h1{
					margin: 50px 0;
					font-family: $my_font;
				}

				ul{
					margin-left: 100px;

					li{
						list-style: none;
						font-family: 'Waiting for the Sunrise';
						font-size: 20pt;
					}
				}
			}	
		}
	}

	.portfolio{
		height: 700px;
		background-image: url('/mobile.jpeg');
		background-size: cover;
		background-attachment: fixed;

		.check-it-out{
			position: relative;
			top: 400px;
			left: 65%;
			font-family: $my_font;

			a{
				color: black;
			}

			a:hover{
				color: red;
				text-decoration: none;
			}
		}

		.contact-me{
			@extend .check-it-out;
		}
	}

	.summary{
		height: 600px;
	}

	.contact{
		@extend .portfolio;
		background-image: url('/sites.jpeg');
	}

	.prof-gallery{
		.projects{
			.boxes{
				height: 450px;
				border: 15px solid black;

				a{
					color: white;

					h2{
						font-family: 'Waiting for the Sunrise';
					}
				}

				a:hover{
					color: red;
					text-decoration: none;
				}

				p{
					padding-top: 5px;
				}
				
				.proj1{
					height: 300px;
					background-image: url('/food.jpg');
					background-size: cover;
				}

				.proj2{
					@extend .proj1;
					background-image: url('/heat_map2.png');
				}

				.proj3{
					@extend .proj1;
					background-image: url('/coffee.jpg');
				}

				.proj4{
					@extend .proj1;
					background-image: url('/dog.jpeg');
				}

				.proj5{
					@extend .proj1;
					background-image: url('/Coastline.jpg');
				}

				.proj6{
					@extend .proj1;
					background-image: url('/pangolin7.jpg');
				}
			}
		}
	}

	.footer{
		height: 250px;
		background-color: #675B62;

		.foot-row{
			height: 100%;

			.right{
				height: 100%;
				padding-top: 20px;

				li{
					
					text-align: center;
					list-style: none;
					font-size: 36pt;
					color: black;

					a{
						color: black;
					}

					a:hover{
						color: red;
					}
				}

				#copy{
					position: absolute;
					font-size: 12pt;
					padding-right: 0;
					bottom: 15px;
					right: 15px;
				}
			}
		}
	}

	.nav{
		position: absolute;
		top: 600px;
		width: 100%;
		text-align: center;
		background-color: black;

		ul{

			li{
				display: inline;
				margin: 0 10%;

				a{
					color: gray;
					font-family: $my_font;
					font-size: 20pt;
				}

				a:hover{
					color: red;
					text-decoration: none;
				}
			}
		}
	}

	.nav-clone{
		@extend .nav;
		position: fixed;
		padding-top: 10px;
		top: 0px;
		visibility: hidden;

		img{
			position: fixed;
			top: 0;
			left: 15px;
			z-index: 2;
		}

		ul{
			li{
				a{
					color: white;
				}
			}
		}
	}
}

.nav-fixed{
	width: 100%;
	text-align: center;
	background-color: black;
	position: fixed;
	padding-top: 10px;
	top: 0px;

	img{
		position: fixed;
		top: 0;
		left: 15px;
		z-index: 2;
	}

	ul{
		li{
			display: inline;
			margin: 0 10%;

			a{
				color: white;
				font-family: $my_font;
				font-size: 20pt;
			}

			a:hover{
				color: red;
				text-decoration: none;
			}
		}
	}
}

// ## CONTACT ##

.contact-body{
	width: 100%;
	padding-top: 150px;
	padding-bottom: 150px;
	background-color: black;
	color: white;
	font-family: 'Waiting for the Sunrise';

	h1{
		padding-left: 25px;
		font-family: $my_font;
	}

	.contact-form{
		text-align: center;
		width: 900px;
		margin: 50px auto;

		.contact-info{
			h3{
				font-size: 14pt;
			}

			input{
				font-family: sans-serif;
				color: black;
			}

			textarea{
				@extend input;
				width: 600px;

			}

			button{
				color: black;
			}
		}
	}
}

.footer{
	height: 250px;
	background-color: #675B62;

	.foot-row{
		height: 100%;

		.right{
			height: 100%;
			padding-top: 20px;

			li{
				
				text-align: center;
				list-style: none;
				font-size: 36pt;
				color: black;

				a{
					color: black;
				}

				a:hover{
					color: red;
				}
			}

			#copy{
				position: absolute;
				font-size: 12pt;
				padding-right: 0;
				bottom: 15px;
				right: 15px;
			}
		}
	}
}




