$my_font: 'Rock Salt';

.page{
	background-color: black;
	color: white;	

	.lead{
	
		.header{
			margin-top: 100px;
			margin-bottom: 400px;

			@media screen and (max-width: 992px) {
				margin-bottom: 100px;
			}

			.profile-pic{
				text-align: center;

				img{
					width: 350px;
				}
			}

			.attributes{
				@media screen and (max-width: 992px) {
					padding-top: 250px;
					text-align: center;
				}

				h1{
					margin: 50px 0;
					font-family: $my_font;
				}

				ul{
					margin-left: 100px;

					li{
						list-style: none;
						font-family: 'Waiting for the Sunrise';
						font-size: 20pt;
					}
				}
			}	
		}
	}

	.portfolio{
		height: 700px;
		background-color: white;
		
		.prof-banner{
			position: absolute;
			height: 700px;
			width: 100%;
			background-size: cover;
			background-attachment: fixed;
			background-image: url('/mobile.jpeg');
			opacity: 0.6;
		}

		.check-it-out{
			position: relative;
			text-align: center;
			top: 40%;
			font-family: $my_font;

			@media screen and (max-width: 992px) {
				top: 25%;

				a{
					font-size: 26pt;
				}
			}

			p{
				font-family: 'Waiting for the Sunrise';
				font-size: 20pt;
				margin-left: 20%;
				margin-right: 20%;
				color: black;

				@media screen and (max-width: 992px) {
					font-size: 26pt;
				}
			}

			a{
				color: black;
			}

			a:hover{
				color: red;
				text-decoration: none;
			}
		}

		.contact-me{
			@extend .check-it-out;
		}
	}

	.buffer{
		height: 300px;
	}

	.contact{
		@extend .portfolio;
		
		.cont-banner{
			@extend .prof-banner;
			background-image: url('/sites.jpeg');
		}
	}

	.prof-gallery{
		.projects{
			.boxes{
				height: 475px;
				border: 15px solid black;

				a{
					color: white;

					h2{
						font-family: 'Waiting for the Sunrise';
					}
				}

				a:hover{
					color: red;
					text-decoration: none;
				}

				p{
					font-family: 'Waiting for the Sunrise';
					font-size: 14pt;
					padding-top: 5px;
				}
				
				.proj1{
					height: 300px;
					background-image: url('/food.jpg');
					background-size: cover;
				}

				.proj2{
					@extend .proj1;
					background-image: url('/heat_map2.png');
				}

				.proj3{
					@extend .proj1;
					background-image: url('/coffee.jpg');
				}

				.proj4{
					@extend .proj1;
					background-image: url('/dog.jpeg');
				}

				.proj5{
					@extend .proj1;
					background-image: url('/Coastline.jpg');
				}

				.proj6{
					@extend .proj1;
					background-image: url('/pangolin7.jpg');
				}
			}
		}
	}

	.nav{
		position: absolute;
		top: 600px;
		width: 100%;
		text-align: center;
		background-color: black;

		ul{

			li{
				display: inline;
				margin: 0 10%;

				a{
					color: gray;
					font-family: $my_font;
					font-size: 20pt;
					padding-left: 10px;
					padding-right: 10px;
					padding-bottom: 0;
				}

				a:hover{
					color: red;
					text-decoration: none;
				}
			}
		}
	}

	.nav-clone{
		@extend .nav;
		position: fixed;
		padding-top: 10px;
		top: 0px;
		visibility: hidden;

		img{
			position: fixed;
			top: 0;
			left: 15px;
			z-index: 2;
		}

		ul{
			li{
				a{
					color: white;
				}
			}
		}
	}
}

.nav-fixed{
	width: 100%;
	text-align: center;
	background-color: black;
	position: fixed;
	padding-top: 10px;
	top: 0px;

	img{
		position: fixed;
		top: 0;
		left: 15px;
		z-index: 2;
	}

	ul{
		li{
			display: inline;
			margin: 0 10%;

			a{
				color: white;
				font-family: $my_font;
				font-size: 20pt;
			}

			a:hover{
				color: red;
				text-decoration: none;
			}
		}
	}
}

// ## CONTACT ##

.contact-body{
	width: 100%;
	padding-top: 150px;
	padding-bottom: 150px;
	background-color: black;
	color: white;
	font-family: 'Waiting for the Sunrise';

	h1{
		padding-left: 25px;
		font-family: $my_font;
	}

	.contact-form{
		text-align: center;
		width: 900px;
		margin: 50px auto;

		.contact-info{
			h2{
				font-size: 14pt;
			}

			input{
				font-family: sans-serif;
				color: black;
			}

			textarea{
				@extend input;
				width: 600px;

			}

			button{
				font-size: 15pt;
				color: black;
				width: 100px;
			}
		}
	}
}

// ## RESUME ##

.resume{
	height: 100%;
}

// ## FOOTER ##

.footer{
	background-color: #675B62;

	.foot-row{
		height: 100%;

		.right{
			height: 100%;
			padding-top: 65px;
			padding-bottom: 65px;

			li{
				list-style: none;
				text-align: center;

				a{
					font-family: 'Waiting for the Sunrise';
					font-size: 18pt;
					color: black;
				}	

				a:hover{
					text-decoration: none;
					color: red;
				}
			}

			p{
				position: absolute;
				bottom: 15px;
				right: 15px;
				font-size: 10pt;
			}
		}

		.center{
			@extend .left;
		}

		.left{
			height: 100%;
			padding-top: 50px;
			padding-bottom: 50px;

			li{
				text-align: center;
				list-style: none;
				font-size: 36pt;
				color: black;

				a{
					color: black;
				}

				a:hover{
					color: red;
				}
			}
		}
	}
}




