<!DOCTYPE html>
<html>
<head>
  <title>Bennett Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Rock+Salt|Ek+Mukta:200|Waiting+for+the+Sunrise|Work+Sans|Biryani|Catamaran' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/kblogo.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

<%= yield %>

</body>
</html>
